<!doctype html>
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.84.0">
    <title>Star Weather</title>

    <!-- <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/sign-in/"> -->

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="CSS/styles.css" rel="stylesheet">

    <script>
        /* 

                                                font-family: 'Style Script', cursive;
                                                font-family: 'Cinzel', serif;
                                                font-family: 'Cookie', cursive;
                                                font-family: 'Merienda', cursive;

                                                */


        /*
         * Globals
         */


        /* Custom default button */

        .btn - secondary,
            .btn - secondary: hover,
            .btn - secondary: focus {
                color: #333;
        text-shadow: none;
        /* Prevent inheritance from `body` */
        }


        /*
        * Base structure
        */

        body {
            text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
            box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
            min-height: 100vh;
            display: flex;
            flex-direction: column;
        }

        .cover-container {
            max-width: 72em;
        }


        /*
        * Header
        */

        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </script>

</head>

<body class="d-flex h-100 text-center text-white bg-dark">

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-auto header">
            <div>
                <h3 class="float-md-start mb-0">Star Weather</h3>
                <nav class="nav nav-masthead justify-content-center float-md-end">
                    <form action="/" method="POST" class="d-flex">
                        <input class="form-control me-2" type="text" name="cityName" id="cityInput" placeholder="Enter the location" aria-label="Search" autocomplete="off">
                        <button class="btn btn-outline-light" type="submit">Search</button>
                    </form>
                </nav>
            </div>
        </header>