<%- include("partials/header"); -%>


    <script>
        .home - head {
            font - size: 4 rem;
        }
    </script>

    <main class="px-3">
        <h1 class="home-head">Welcome to the Weather Report.</h1>
        <h1 class="city-head">New Delhi</h1>
        <p class="lead">New Delhi</p>
    </main>


    <%- include("partials/footer"); -%>